figure.kudo {
  position: absolute;
  right: 15px;
  top: 65px;
  background-color: #000;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-shadow: 0 40px 20px #fff;
}
