<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="/css/screen.css" rel="stylesheet" media="screen" type="text/css">
    <link href="/css/highlight.css?9" rel="stylesheet" type="text/css">
    <link href='/img/favicon.ico' rel='shortcut icon' type='image/ico'>
    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div id="wrapper">
    <header>
    <a href="/"><h1>Orlando Del Aguila</h1></a>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog.html">Blog</a></li>
        </ul>
      </nav>
    </header>
          {{ content }}    
      <footer>
      <hr>
        <ul>
          <li><a target="_blank" href="http://www.facebook.com/odelaguila"><img src="/img/facebook.png"/></a></li>
          <li><a target="_blank" href="http://www.twitter.com/djlandox"><img src="/img/twitter.png"/></a></li>
          <li><a target="_blank" href="http://www.github.com/orlandodelaguila"><img src="/img/github.png"/></a></li>
        </ul>
      </footer>
    </div>  
  </body>
</html>

