<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="/css/screen.css" rel="stylesheet" media="screen" type="text/css">
    <link href="/css/highlight.css?9" rel="stylesheet" type="text/css">
    <link href='/img/favicon.ico' rel='shortcut icon' type='image/ico'>
    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{ content }}
    <footer>
      Brief description about my self
    </footer>
  </body>
</html>

